* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    background-image: url('nature_bg.jpg');
    background-size: cover;
    background-position: top center;
}
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}
header {
    display: flex;
    justify-content: center;
    padding: 50px 25px 50px;
    align-items: center;
}
header input {
    width: 100%;
    max-width: 250px;
    padding: 15px 20px;
    outline-style: none;
    border: none;
    background-color: rgba(114, 106, 106, 0.3);
    color: rgb(114, 180, 180);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    transition: 1.5s ease-out
}
header input:focus{
    background-color: rgba(114, 106, 106, 0.6)
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.location .city {
    color: #ffffff;
    font-size: 62px;
    font-weight: 500;
}
.location .date {
    color: #ffffff;
    font-size: 23px;
    margin-top: 10px;
}
.current .temperature {
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 6px rgb(30, 40, 83);
}
.current .temperature span {
    font-weight: 900;
    color: #ffffff;
}
.current .weather {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
    text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
}